[Container]
ContainerName=mosquitto
Image=docker.io/library/eclipse-mosquitto:2.0.22
UIDMap=+0:@%U
LogOpt=max-size=10m
PublishPort=1883:1883
Volume=%h/volumes/%N/app:/mosquitto:Z
Environment=TZ=Europe/London
Network=backend.network

[Service]
Restart=always
EnvironmentFile=%h/srv/apps/.env
ExecStartPre=mkdir -p %h/volumes/%N/app

[Install]
WantedBy=default.target