[Container]
ContainerName=linkding
Image=docker.io/sissbruecker/linkding:1.45.0
UIDMap=+0:@%U
LogOpt=max-size=10m
PublishPort=8002:9090
Volume=%h/volumes/%N/data:/etc/linkding/data:Z
Environment=TZ=Europe/London
Environment=LD_DB_ENGINE=postgres
Environment=LD_DB_DATABASE=linkding
Environment=LD_DB_USER=linkding
Environment=LD_DB_PASSWORD=${LINKDING_DB_PASSWORD}
Environment=LD_DB_HOST=linkding-db
Environment=LD_CSRF_TRUSTED_ORIGINS=http://bookmarks.${DNS_SUFFIX},http://${SERVER_IP}
Network=frontend.network
Network=backend.network
Label=traefik.enable=true
Label=traefik.docker.network=systemd-frontend
Label=traefik.http.routers.linkding.rule=Host(`bookmarks.${DNS_SUFFIX}`)
Label=traefik.http.routers.linkding.entrypoints=web
Label=traefik.http.services.linkding.loadbalancer.server.port=9090

[Unit]
Requires=linkding-db.service
After=linkding-db.service

[Service]
Restart=always
EnvironmentFile=%h/srv/apps/.env
ExecStartPre=mkdir -p %h/volumes/%N/data

[Install]
WantedBy=default.target