[Container]
ContainerName=freshrss
Image=docker.io/freshrss/freshrss:1.29.0
UIDMap=+0:@%U
LogOpt=max-size=10m
PublishPort=8001:80
Volume=%h/volumes/%N/data:/var/www/FreshRSS/data:Z
Volume=%h/volumes/%N/extensions:/var/www/FreshRSS/extensions:Z
Environment=TZ=Europe/London
Environment=CRON_MIN=13,43
Environment=DB_HOST=freshrss-db
Environment=DB_BASE=freshrss
Environment=DB_USER=freshrss
Environment=DB_PASSWORD=${FRESHRSS_DB_PASSWORD}
Environment=TRUSTED_PROXY=10.89.0.0/16
Network=frontend.network
Network=backend.network
Label=traefik.enable=true
Label=traefik.docker.network=systemd-frontend
Label=traefik.http.routers.freshrss.rule=Host(`rss.${DNS_SUFFIX}`)
Label=traefik.http.routers.freshrss.entrypoints=web

[Unit]
Requires=freshrss-db.service
After=freshrss-db.service

[Service]
Restart=always
EnvironmentFile=%h/srv/apps/.env
ExecStartPre=mkdir -p %h/volumes/%N/data
ExecStartPre=mkdir -p %h/volumes/%N/extensions

[Install]
WantedBy=default.target